<h1>GetHub</h1>
<p class="subtle">Getting my GitHub</p>
<p class="subtle">via API and SJR</p>
<h2 id="gethub-profile-title">Getting profile data while it's hot...</h2>
<div id="gethub-profile">
</div>
<br>
<h2 id="gethub-repos-title">Getting repo data while it's hot...</h2>
<div id="gethub-repos">
</div>